<form [formGroup]="employeeForm">
    <div class="row">
        <div class="col-3">
            <label for="">Name</label>
            <input type="text" formControlName="empName">
                        <div class="text-danger">
                @if(employeeForm.controls['empName'].errors?.['required']) {
                    <span>This is Required</span>
                }
            </div>
        </div>
         <div class="col-3">
            <label for="">Is Address Mandatory</label>
            <input type="checkbox" formControlName="isAddressMandatory">
        </div>
       
        <div class="col-3">
            <label for="">state</label>
            <input type="text" formControlName="state">

            <div class="text-danger">
                @if(employeeForm.controls['state'].errors?.['required']) {
                    <span>This is Required</span>
                }
            </div>
        </div>
         <div class="col-3">
            <label for="">city</label>
            <input type="text"  formControlName="city">
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <button class="btn btn-success" (click)="onSave()">Save</button>
        </div>
    </div>
</form>