<div class="row">
    <div class="col-3">
        <select name="" id="">
            @for (item of cityList; track $index) {
            <option value="">{{item}}</option>
            }
        </select>
    </div>
    <div class="col-3">
        <p-select [options]="cityList" [filter]="true" placeholder="Select a City" class="w-full md:w-56" />
    </div>
    <div class="col-3">
        <p-datepicker [(ngModel)]="date" [minDate]="minDate" />
    </div>
</div>

<button (click)="stopTimer()">stop timer</button>


<app-alert [alertType]="alertType" [alertMessage]="'Api call Fails'"></app-alert>

<br>
<input type="date">

<br>
<app-alert [alertType]="'Warning'" [alertMessage]="'Duplicate Aadhar Not Alalwed'"></app-alert>
<div class="row">
    <div class="col-2">
        <ul>
            <li *ngFor="let item of cityList"> {{item}} </li>
        </ul>
        <br>
        <ul>
            @for (item of cityList; track $index) {
            <li>{{item}}</li>
            }
        </ul>

    </div>
    <div class="col-2">
        <div>
            <button *ngFor="let roll of rollNoList"> {{roll}}</button>
            <br>
            <br>
            @for (item of rollNoList; track $index) {
            <button> {{item}}</button>
            }
        </div>
    </div>
    <div class="col-3">
        <input *ngFor="let roll of rollNoList" [value]="roll" type="text">
    </div>
    <div class="col-3">
        <select>
            <option *ngFor="let city of cityList"> {{city}}</option>
        </select>
    </div>
    <div class="col-3">
        <select *ngFor="let city of cityList">
            <option *ngFor="let cityName of cityList"> {{cityName}}</option>
        </select>
    </div>
</div>
<strong>{{coursernMAe}}</strong>
<input type="text" [(ngModel)]="coursernMAe" name="" id="">
<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th title="Sr No Help text">Sr No</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>City</th>
                    <th>Status</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let stud of studentList;let srNo = index;let isFirst = first;let isLast = last">
                    <td> {{srNo +1}}</td>
                    <!-- <td>{{stud.name}} {{stud.middleName}} {{stud.surname}}</td> -->
                    <td>{{stud|fullName}}</td>
                    <td>{{stud.surname | napipe:'na'}}</td>
                    <td>{{stud['city'] }}</td>
                    <td>
                        <app-progress-bar [progressColorClassName]="'bg-success'"
                            [progressValue]="stud.attendancePer"></app-progress-bar>
                    </td>

                    <!-- <td>
                        <app-show-less-more [sampleText]="stud['address']" [textLimit]="20"></app-show-less-more>
                    </td> -->
                    <td>
                        <input type="checkbox" [checked]="stud.isActive">
                        <input type="checkbox" [(ngModel)]="stud.isActive">
                    </td>
                    <td>
                        {{stud.isActive ? 'Active':'De-Active'}}
                    </td>
                    <!-- <td>
                      

                        <span [ngClass]="stud.isActive == true ?'text-success':'text-danger'">{{stud.isActive ?'Student is Active':'Stud is De-Active' }}
                            </span>
                    </td>
                    <td>
                        @if (stud.isActive) {
                        <span class="text-success">Student is Active</span>
                        } @else {
                        <span class="text-danger">Student is De-Active</span>
                        }
                    </td> -->
                    <td>
                        {{isFirst}} -- {{isLast}}
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
    <!-- <div class="col-6">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Status</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody >
                @for (stud of studentList; track $index;let isFirst = $first;let isLast = $last ) { 
                <tr>
                    @let fullname = stud.name + ' ' + stud.surname;
                    <td> {{$index +1}}</td>
                    <td>{{fullname}}</td>
                    <td>{{stud['city']}}</td>
                    <td>
                        <input type="checkbox" [checked]="stud.isActive">
                        <input type="checkbox" [(ngModel)]="stud.isActive">
                    </td>
                    <td>
                        {{stud.isActive ? 'Active':'De-Active'}}
                    </td>
                    <td>
                        <span class="text-success" *ngIf="stud.isActive">Student is Active</span>
                        <span class="text-danger" *ngIf="!stud.isActive">Student is De-Active</span>
                    </td>
                    <td>
                        @if (stud.isActive) {
                        <span class="text-success">Student is Active</span>
                        } @else {
                        <span class="text-danger">Student is De-Active</span>
                        }
                    </td>
                    <td>
                        {{isFirst}} -- {{isLast}}
                    </td>

                </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col-3" *ngFor="let student of studentList">
                <div class="card mt-2">
                    <div class="card-body">
                        <h4 class="card-title">{{student.name}}</h4>
                        <p class="card-text">{{student.city}}</p>
                        <a href="#" class="card-link">{{student.isActive}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>
<br>
<br>
<p-table [value]="studentList"  [paginator]="true"
    [rows]="5"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="[5, 10, 20]">
     <ng-template #header>
        <tr>
            <th pSortableColumn="surname" style="width:20%">
                <div class="flex items-center gap-2">
                    surname
                    <p-sortIcon field="surname" />
                </div>
            </th>
            <th pSortableColumn="isActive" style="width:20%">
                <div class="flex items-center gap-2">
                    isActive
                    <p-sortIcon field="isActive" />
                </div>
            </th>
            <th pSortableColumn="category" style="width:20%">
                <div class="flex items-center gap-2">
                    Category
                    <p-sortIcon field="category" />
                </div>
            </th>
            <th pSortableColumn="quantity" style="width:20%">
                <div class="flex items-center gap-2">
                    Quantity
                    <p-sortIcon field="quantity" />
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template #body let-product>
        <tr>
            <td>{{ product.surname }}</td>
            <td>{{ product.surname }}</td>
            <td>{{ product.isActive }}</td>
            <td>{{ product.quantity }}</td>
        </tr>
    </ng-template>
</p-table>